<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Ryan, Rathbun, Ryan Rathbun, Ryan Rathbun Personal Website">
    <meta name="description" content="Free Web tutorials for HTML and CSS">
    <meta name="author" content="Ryan Rathbun">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel ="stylesheet" href="css\style.css">
</head>

<body>
    <header>
        <h1>Module 14 Tech Blog</h1>
        <nav id="pagetop">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <main>
            <div class="about-Title">
                <p>About</p>
            </div>
            <div class="about-text">
                <div class="about-inside-text">
                    <div class="below-text">

                    </div>
                </div>
            </div>
        </main>
    </section>


    <section>
        <main>
            <div class="resources-Title">
                <p>Resources</p>
            </div>
        </main>
    </section>
    
</body>


</html>